h1,h2,h3,h4,h5,h6,a,button {font-family: 'Roboto', sans-serif;}


p,span,strong,em,div{font-family: 'Roboto', sans-serif;}


body{ margin: 0 auto;}


header,aside,main,footer,section,article,figure,nav{display: block;}




aside#menu-responsive { 
    width: 290px; 
    height: 100%; 
    display: block; 
    margin: 0; 
    float: none;
     position: fixed; 
     top: 0; 
     left: -290px; 
     z-index: 99998; 
     background: #1e2833; 
    }

aside#menu-responsive a#abrir { 
    width: 35px; 
    height: auto; 
    display: block; 
    margin: 0; float: none; 
    position: absolute; 
    top: 20px; 
    right: -35px; 
    z-index: 1; 
    color: rgb(255, 255, 255); 
    background: #1e2833; 
    font-size: 1.25em; 
    line-height: 1em; 
    text-align: center; 
    padding: 7.5px 0; 
    transition: all 0.3s ease-in; 
}

aside#menu-responsive a#abrir:hover { 
    background: #E24B2D; 
    transition: all 0.3s ease-in; 
}

aside#menu-responsive a#cerrar { 
    width: 35px; 
    height: auto; 
    display: none; 
    margin: 0; 
    float: none; 
    position: absolute; 
    top: 20px; right: -35px; 
    z-index: 2; 
    color: rgb(255, 255, 255);  
    background: #E24B2D; 
    font-size: 1.25em; 
    line-height: 1em; text-align: 
    center; padding: 7.5px 0; 
    transition: all 0.3s ease-in; 
}

aside#menu-responsive a#cerrar:hover { 
    background: #1e2833; 
    color: #ffffff; 
    transition: all 0.3s ease-in; 
}

aside#menu-responsive nav { 
    width: 58%; 
    height: auto; 
    display: block; 
    margin: 25px auto 0 auto; 
    float: none; 
    position: relative; 
}

aside#menu-responsive nav a { 
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    float: none; 
    position: relative; 
    font-size: 1em; 
    line-height: 1em; 
    color: #fff; 
    text-decoration: none; 
    padding: 14px 0; 
    text-align: right; 
}

aside#menu-responsive nav a:hover { 
    color: #E24B2D; 
    transition: all 0.3s ease-in; 
}



aside#boton-whatsapp {
    width: 50px;
    height: 50px;
    margin: 0;
    float: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index:99996;   
}

aside#boton-whatsapp a {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    color: #fff;
    background: #E24B2D;
    border-radius: 50%;
    font-size: 1.55em;
    line-height: 1em;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease-in;
}

aside#boton-whatsapp a:hover{
    color: #E24B2D;
    background: #fff;
    transition: all 0.3s ease-in;
}

header{
    width: 100%;
    height: 80px;
    margin: 0;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index:99995;
    background:transparent;
}
header article{
    width: 1100px;
    height: 109px;
    margin: 0 auto;
    float: none;
    position: relative;
}

header article figure {
    width: 36px;
    height: 86px;
    display: block;
    margin: 4px 0;
    float: left;
    position: relative;
    
}

header article figure a {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;
}

header article figure a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;
}

header article figure a:hover{
    opacity: 0.8;
    transition: all 0.3s ease-in;
}

header article nav{
   width: 700px;
    height:30px;
    margin: 0;
    display: none;
    float: none;
    position: fixed;
    top: 15px;
    right: 50px;
    z-index:99998;
    background: #1e2833;
}

header article nav a{
    width: auto;
    height: auto;
    display: block;
    margin: 10px ;
    float: left;
    position: relative;
    color: #fff;
    background-color: #1e2833;
    border-radius: 50px;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
    padding: 8px 10px;
    font-weight: 200;
    letter-spacing: 0.05em;

}

header article nav a:hover{
    color: #ffffff;
    transition: all 0.3s ease-in;
    background: rgba(255, 0, 0, 0.42);
}

main{
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
    float: none;
    position: relative;
} 

main section#banner-slider{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
}

main section#banner-slider article.slick-slider{ 
    width: 100%; 
    height: 88vh;
    margin: 0 auto;
    float: none;
    position: relative;
    background: url('../img/fondos/img-fondo-sección\ 1-pag-inicio.png') no-repeat top center; background-size:cover;
}

main section#banner-slider article.slick-slider figure{
    width: 100%;
    height: 88vh;
    margin: 0;
    float: left;
    position: relative;
}

main section#banner-slider article.slick-slider figure#slide-01{
    background: url('../img/fondos/jonathan-cano-banner-slide.png') no-repeat top center; background-size:cover;
    
}

main section#banner-slider article.slick-slider figure#slide-02{
    background: url('../img/fondos/jonathan-cano-banner-slide.png') no-repeat top center; background-size:cover;
    
}

main section#banner-slider article.slick-slider figure#slide-03{
    background: url('../img/fondos/jonathan-cano-banner-slide.png') no-repeat top center; background-size:cover;
    
}

main section#banner-slider article.slick-slider figure h1{
    text-align: left;
    text-decoration: none;
    padding: 16% 21% 0;
    color: #fff;
    font-size: 3.5em;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

main section#banner-slider article.slick-slider figure h2{
    width: 20em;
    text-align: left;
    text-decoration: none;
    padding: 0px 0px 8px 21%;
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
    font-weight: lighter;
    letter-spacing: 0.020em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main section#banner-slider article.slick-slider figure a{
    width: 100px;
    height: auto;
    margin: 0 0 0 21%;
    float: none;
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    padding: 5px 16px;
    border-radius: 20px;
    background: #E24B2D;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main section#banner-slider article.slick-slider figure  a:hover{
    color: #E24B2D;
    background: #fff;
    transition: all 0.3s ease-in;
}

.slick-prev { left: 50px !important;
     z-index: 998; }
     
.slick-next { right: 50px !important; z-index: 999; }


main section#Perfil{ 
    width: 100%; 
    height: auto; 
    margin: 0 auto; 
    float: left; 
    position: relative; 
    background: url('../img/fondos/fondo.png') no-repeat top center; background-size:cover; }

main section#Perfil div { 
    width: 1100px; 
    height: 700px;
    margin: 0 auto; 
    float: none; 
    position: relative; 
}

main section#Perfil article { 
    width: 100%;
    height: 32em;
    float: none;
    position: relative;
    margin: 0 auto;
    display: block;
    top: 90px;
    background: #607f94;
    border-radius: 100px;
    box-shadow: 25px 25px 20px rgb(0 0 0 / 35%);
}
    
main section#Perfil article figure#foto{
    width: 50%;
    height: auto;
    margin: auto ;
    float: left;
    display: block;
}

main section#Perfil article figure#foto img{
    width: auto;
    height: auto;
    margin: 50px;
}
     
main section#Perfil article figure#texto{ 
    width: 50%;
    height: 100%;
    align-content: center;
    margin: 0px auto;
    float: right;
    position: relative;
}
    
main section#Perfil article figure#texto h3{
    text-align: left;
    text-decoration: none;
    padding: 1em 28% 0px 0px;
    color: #1e2833;
    margin: 0;
    font-size: 4em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main section#Perfil article figure#texto p{
    text-align: left;
    text-decoration: none;
    padding: 1em 5em 2em 0px;
    color: #1e2833;
    margin: 1em 5em 1em 0px;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main section#Perfil article figure#texto a{
    width: 100px;
    height: auto;
    margin: 0 0 0 1%;
    float: none;
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    padding: 5px 16px;
    border: solid 1px;
    border-radius: 20px;
    background: #e24b2d00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main section#Perfil article figure#texto a:hover{
    color: #fff;
    background: #E24B2D;
    border: none;
    transition: all 0.3s ease-in;
}


 /* Componente Footer */
footer { 
    width: 100%; 
    height: auto; 
    margin: 0 auto; 
    float: left;
    position: relative;
    background: url('../img/fondos/Footer.png') no-repeat top center; background-size: cover; }
footer article { 
    width: 80%; 
    height: auto; 
    margin: 0 auto; 
    float: none; 
    position: relative; 
    padding: 36px 0; }

footer article > a { 
    width: 200px; 
    height: 150px; 
    display: block; 
    margin: 0 auto; 
    float: none; 
    position: relative; }

footer article > a img { 
    width: 30%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    float: none; 
    position: relative; }

footer article > a:hover { 
    opacity: 0.8;
    transition: all 0.3s ease-in;
 }

footer article nav { 
    width: 250px; 
    height: 40px; 
    display: block; 
    margin: 6px auto 0 auto; 
    float: none; 
    position: relative; }

footer article nav a { 
    width: 35px; 
    height: auto; 
    display: block; 
    margin: 0 45px; 
    float: left; 
    position: relative; 
    color:#E24B2D; 
    font-size: 2em; 
    line-height: 1em; 
    text-align: center; 
    padding: 7.5px 0; 
    transition: all 0.3s ease-in; }

footer article nav a:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in;
  }



/* Tablets */
@media only screen and (max-width: 1199px){
    aside#menu-responsive { display: block; }
    header article { width: 80%; }
    header article nav#menu { display: none; }
    header article figure { margin: 10px auto; float: none; }
    main section#banner-slider article.slick-slider figure h1 { padding: 150px 0px 35px 0px; text-align: center; }
    main section#banner-slider article.slick-slider figure h2 { padding: 0px 0px 35px 0px; text-align: center; width: 70%; margin: 0 auto; }
    main section#banner-slider article.slick-slider figure a { margin: 0 auto; }
    /* perfil */
    main section#Perfil article { width: 90%; }
    main section#Perfil article nav a { width: 30%; margin: 1.5%; }
    main section#Perfil div { width: 90%; height: auto; padding: 55px 0 0 0; }
    main section#Perfil article { width: 100%; height: auto; float: none; background: #607f94; border-radius: 100px; box-shadow: 25px 25px 20px rgb(0 0 0 / 35%); top: 0; padding: 0 0 55px;margin: 0 auto 55px; }
    main section#Perfil article figure#foto{ position: relative; width: 290px; height: 363px; margin: 0 auto 35px; float: none; top: 50px; display: block; }
    main section#Perfil article figure#foto img{ width: 100%; height: auto; margin: 0 auto; display: block; float: none; position: relative; }
    main section#Perfil article figure#texto{ width: 90%; height: auto; margin: 0 auto; float: none; display: block; position: relative;}
    main section#Perfil article figure#texto h3{ text-align: center; text-decoration: none; padding: 35px 0 0 0; font-size: 3em; }
    main section#Perfil article figure#texto p{ text-align: center; text-decoration: none; padding: 1em 0; margin: 0 auto; }
    main section#Perfil article figure#texto a{ margin: 0 auto; float: none; }
}



@media only screen and (max-width: 899px) {
    aside#menu-responsive { display: block; }
}


@media only screen and (max-width: 799px){
    aside#menu-responsive { display: block; }
    main section#Perfil article nav a { width: 47%; margin: 1.2%; }
}

@media only screen and (max-width: 599px){
    aside#menu-responsive { display: block; }
    header article { width: 95%; }
    header article nav#social { display: none; }
    header article figure { margin: 10px 0; float: right; }
}

/* Móviles */

@media only screen and (max-width: 449px){
    aside#menu-responsive { display: block; }
    main section#Perfil article nav a { width: 100%; margin: 0 auto 25px; float: none; display: block; }
} 

@media only screen and (max-width: 399px) {
    main section#banner-slider article.slick-slider figure h1 { font-size: 3em; }
    aside#menu-responsive { display: block; }

}